[buildout]
parts = test host
develop = 
  .
  demo/hellowsgi
versions = versions

extensions = mr.developer
auto-checkout = *


[host]
recipe = collective.hostout
extends = 
  hostout.ubuntu
host = # Put your hostname here
user = # Put a sudo username for host here  
buildout = buildout.cfg
  

[test]
recipe  = zc.recipe.testrunner
eggs =
  collective.hostout
  zc.buildout
  zc.recipe.egg
  setuptools
  Fabric
  paramiko

[sources]
apache-libcloud = git git://github.com/apache/libcloud.git
hostout.supervisor = git git@github.com:collective/hostout.supervisor.git
hostout.ubuntu  = git git@github.com:collective/hostout.ubuntu.git
paramiko = git http://github.com/robey/paramiko.git

[versions]
pycrypto = 2.0.1
